{% extends 'base.html' %}
{% block body %}
<body onload="onLoad();" onresize="onResize();">

<script>
//For handling wikipedia links
$(document).ready(function(){
  $("#wiki a[href^='/wiki']")
   .each(function()
   { 
      this.href = this.href.replace(/^.*\/wiki\//, 
         "http://wikipedia.org/wiki/")
   });

});
</script>


<script>// Begin script for map

// MAP VARIABLES
//Create the variables that will be used within the map configuration options.
//The latitude and longitude of the center of the map.
var topicMapCenter = new google.maps.LatLng({{map_data.center_lat}},{{map_data.center_lng}});
//The degree to which the map is zoomed in. This can range from 0 (least zoomed) to 21 and above (most zoomed).
var topicMapZoom = {{map_data.zoom}};
// The max and min zoom levels that are allowed.
var topicMapZoomMax = {{map_data.maxzoom}};
var topicMapZoomMin = {{map_data.minzoom}};
// Creates dictionaries to store marker ids and infobox ids.
var marker_dict = {};
var info_dict = {};
//Create the variable for the topic map itself.
var topicMap, path;
//These options configure the setup of the map. 
var topicMapOptions = { 
          center: topicMapCenter, 
          zoom: topicMapZoom,
          //The type of map. In addition to ROADMAP, the other 'premade' map styles are SATELLITE, TERRAIN and HYBRID. 
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          maxZoom:topicMapZoomMax,
          minZoom:topicMapZoomMin,
          
};

// MAP FUNCTIONS
//The main function that is called when the web page loads
//------------------------------------------------------------------------
function loadtopicMap() {
    
  //Creates the map, assigning it to this variable, also loads the map into the div with the id 'topic_map{{topic_id}}', and applies the 'topicMapOptions' (above) to configure this map. 
  
  topicMap = new google.maps.Map(document.getElementById("topic_map{{topic_id}}"), topicMapOptions); 


      
  //Calls the function below to load up all the map markers.
  loadMapMarkers();
  createPath()
  };

// Function that creates a path

var pathCoordinates

function createPath(){
  // JFK Motorcade
  {% if topic_id==4 %}
      pathCoordinates = [
        {lat: parseFloat(32.831477), lng: parseFloat(-96.840354)},
        {lat: parseFloat(32.835799), lng: parseFloat(-96.835054)},
        {lat: parseFloat(32.836299), lng: parseFloat(-96.833863)},
        {lat: parseFloat(32.836414), lng: parseFloat(-96.832893)},
        {lat: parseFloat(32.830631), lng: parseFloat(-96.827224)},
        {lat: parseFloat(32.829898), lng: parseFloat(-96.826361)},
        {lat: parseFloat(32.809775), lng: parseFloat(-96.803115)},
        {lat: parseFloat(32.808156), lng: parseFloat(-96.803271)},
        {lat: parseFloat(32.807282), lng: parseFloat(-96.803625)},
        {lat: parseFloat(32.806167), lng: parseFloat(-96.803811)},
        {lat: parseFloat(32.805552), lng: parseFloat(-96.804289)},
        {lat: parseFloat(32.804195), lng: parseFloat(-96.805390)},
        {lat: parseFloat(32.803930), lng: parseFloat(-96.805525)},
        {lat: parseFloat(32.803312), lng: parseFloat(-96.805620)},
        {lat: parseFloat(32.802876), lng: parseFloat(-96.805724)},
        {lat: parseFloat(32.802140), lng: parseFloat(-96.806017)},
        {lat: parseFloat(32.801886), lng: parseFloat(-96.806003)},
        {lat: parseFloat(32.799672), lng: parseFloat(-96.805403)},
        {lat: parseFloat(32.799408), lng: parseFloat(-96.805408)},
        {lat: parseFloat(32.798024), lng: parseFloat(-96.805552)},
        {lat: parseFloat(32.792216), lng: parseFloat(-96.805139)},
        {lat: parseFloat(32.792060), lng: parseFloat(-96.805069)},
        {lat: parseFloat(32.790782), lng: parseFloat(-96.804986)},
        {lat: parseFloat(32.790744), lng: parseFloat(-96.803590)},
        {lat: parseFloat(32.789494), lng: parseFloat(-96.802209)},
        {lat: parseFloat(32.788896), lng: parseFloat(-96.801580)},
        {lat: parseFloat(32.783669), lng: parseFloat(-96.795287)},
        {lat: parseFloat(32.783191), lng: parseFloat(-96.794595)},
        {lat: parseFloat(32.781681), lng: parseFloat(-96.794182)},
        {lat: parseFloat(32.778860), lng: parseFloat(-96.807859)},
        {lat: parseFloat(32.779557), lng: parseFloat(-96.808076)},
        {lat: parseFloat(32.779141), lng: parseFloat(-96.808617)},
        {lat: parseFloat(32.778901), lng: parseFloat(-96.808792)},
        {lat: parseFloat(32.778712), lng: parseFloat(-96.809102)},
        {lat: parseFloat(32.778512), lng: parseFloat(-96.809967)},
        {lat: parseFloat(32.778411), lng: parseFloat(-96.810202)},
        {lat: parseFloat(32.778286), lng: parseFloat(-96.810939)}
  
      ];
  {% endif %}
  
  // Amelia Earhart Flight
  {% if topic_id==1 %}
      pathCoordinates = [
        {lat: parseFloat(37.707803), lng: parseFloat(-122.2268169)},
        {lat: parseFloat(34.19064), lng: parseFloat(-118.3347566)},
        {lat: parseFloat(32.15591), lng: parseFloat(-110.883805)},
        {lat: parseFloat(30.0586455), lng: parseFloat(-90.1362867)},
        {lat: parseFloat(25.782324), lng: parseFloat(-80.2310801)},
        {lat: parseFloat(18.4095975), lng: parseFloat(-66.1283334)},
        {lat: parseFloat(10.1057479), lng: parseFloat(-63.102268)},
        {lat: parseFloat(5.6223098), lng: parseFloat(-55.1300016)},
        {lat: parseFloat(-3.7913514), lng: parseFloat(-38.5192009)},
        {lat: parseFloat(-5.7999189), lng: parseFloat(-35.2222448)},
        {lat: parseFloat(16.0199555), lng: parseFloat(-16.4582992)},
        {lat: parseFloat(14.7324022), lng: parseFloat(-17.3881194)},
        {lat: parseFloat(16.2642656), lng: parseFloat(-0.0161041)},
        {lat: parseFloat(12.1202183), lng: parseFloat(15.057459)},
        {lat: parseFloat(13.6276194), lng: parseFloat(25.3455465)},
        {lat: parseFloat(15.5015451), lng: parseFloat(32.5725965)},
        {lat: parseFloat(15.602493), lng: parseFloat(39.4507885)},
        {lat: parseFloat(13.0117365), lng: parseFloat(42.7292097)},
        {lat: parseFloat(25.0111454), lng: parseFloat(67.0647044)},
        {lat: parseFloat(22.6757245), lng: parseFloat(88.368587)},
        {lat: parseFloat(20.1675105), lng: parseFloat(92.8547287)},
        {lat: parseFloat(16.9875266), lng: parseFloat(96.2463879)},
        {lat: parseFloat(13.7246005), lng: parseFloat(100.6331108)},
        {lat: parseFloat(1.3455918), lng: parseFloat(103.8256208)},
        {lat: parseFloat(-6.9034494), lng: parseFloat(107.6431576)},
        {lat: parseFloat(-7.2756195), lng: parseFloat(112.7116844)},
        {lat: parseFloat(-6.9004492), lng: parseFloat(107.6431576)},
        {lat: parseFloat(-7.2746195), lng: parseFloat(112.7116844)},
        {lat: parseFloat(-10.174951), lng: parseFloat(123.6147184)},
        {lat: parseFloat(-12.5948609), lng: parseFloat(131.0078759)},
        {lat: parseFloat(-6.7137206), lng: parseFloat(146.9954825)},
        {lat: parseFloat(0.8072649), lng: parseFloat(-176.6176798)},
      ];   
  {% endif %}    
  
  var path = new google.maps.Polyline({
    path: pathCoordinates,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  path.setMap(topicMap);
}

//Function that loads the map markers.
function loadMapMarkers (){

  {% for data in event_data %}
        {% if data.image %}
        var infowindow{{data.event_data_id}} = new google.maps.InfoWindow({
            content: '({{data.event_title}}.) {{data.description}}<img src="{{data.image}}"  style="width:48px; height:48px;">'
            });

        {% else %}
        var infowindow{{data.event_data_id}} = new google.maps.InfoWindow({
            content: '{{data.event_title}}. {{data.description}}'
            });
        {% endif %}

        var myLatlng = new google.maps.LatLng({{data.lat}}, {{data.lng}});

        // attach markers to each topic locaiton retruned in JSON
            var marker{{data.event_data_id}} = new MarkerWithLabel({
                    map: topicMap,
                    title: '{{data.event_title}}',
                    labelContent: {{loop.index}},
                    labelAnchor: new google.maps.Point(6,35),
                    labelClass: "labels",
                    labelInBackground: false,
                    position: myLatlng,
                    query: '{{data.description}}'
                    
                    
            });  


            
            marker{{data.event_data_id}}.addListener('click', function(){
            infowindow{{data.event_data_id}}.open(topicMap, marker{{data.event_data_id}});
            centerTimeline({{loop.index}});
                
            });

      marker_dict['{{data.event_data_id}}'] = marker{{data.event_data_id}}
      info_dict['{{data.event_data_id}}'] = infowindow{{data.event_data_id}}

  {% endfor %} 

};

google.maps.event.addDomListener(window, 'load', loadtopicMap);

</script><!--End script for map-->


<script> //Begin script for Timeline

var tl;
var event_dict={}
function onLoad() {
  var eventSource = new Timeline.DefaultEventSource();
      var theme = Timeline.ClassicTheme.create()
      theme.event.bubble.width = 250
      var url ="."
      var events_list=[]
      
    var bandInfos = [
     Timeline.createBandInfo({
        eventSource:    eventSource,
        date:           "{{time_data.main_date}}", 
        width:          "70%",
        timeZone:       -8, 
        intervalUnit:   Timeline.DateTime.{{time_data.band1}}, 
        intervalPixels: 600,
        theme:          theme
        }),
     Timeline.createBandInfo({
        overview:       true, 
        eventSource:    eventSource,
        date:           "{{time_data.main_date}}",
        timeZone:       -8, 
        width:          "20%", 
        intervalUnit:   Timeline.DateTime.{{time_data.band2}}, 
        intervalPixels: 150,
        theme:          theme
        }),
     Timeline.createBandInfo({
        overview:       true, 
        eventSource:    eventSource,
        date:           "{{time_data.main_date}}",
        timeZone:       -8,
        width:          "10%", 
        intervalUnit:   Timeline.DateTime.{{time_data.band3}}, 
        intervalPixels: 200, 
        theme:          theme
        })
    ];
    bandInfos[1].syncWith = 0;
    bandInfos[1].highlight = true;
    bandInfos[2].syncWith = 0;
    bandInfos[2].highlisht = true;

    {% if topic_id==4 %}
    for (var i = 0; i <+ 2; i++) {
                bandInfos[i].decorators = [
                    new Timeline.SpanHighlightDecorator({
                        startDate:  "Fri Nov 22 1963 10:29:00 GMT-0800",
                        endDate:    "Fri Nov 22 1963 11:00:00 GMT-0800",
                        color:      "#FFC080", // set color explicitly
                        opacity:    50,
                        startLabel: "shot",
                        endLabel:   "t.o.d.",
                        theme:      theme
                    }),
                    
                ];
            }


    {% endif %}
    
      
    {% for data in event_data %}
      events_list.push({
          'start':'{{data.event_date}}',
          'caption': "{{data.event_title}}",
          'image': '{{data.image}}',
          'description': "{{data.description}}",
          'TopicID': "{{data.event_data_id}}",
          'durationEvent': false,
          'title':"({{loop.index}}){{data.event_title}}",
          'classname': "eventboxes"    
        })

      event_dict['{{loop.index}}']='{{data.event_date}}' 

    {% endfor %}

    time_data={
      'events': events_list
    }

    tl = Timeline.create(document.getElementById("mytimeline"), bandInfos, Timeline.HORIZONTAL);
    eventSource.loadJSON(time_data, url);
// upon clicking the event the bubble opens and the map centers and zooms to show where event occurred
    tl.getBand(0).getEventPainter().addOnSelectListener(function(eventID) {
      var evt = tl.getBand(0).getEventSource().getEvent(eventID);
      var data_id = evt.getProperty('TopicID');
      var map_marker = marker_dict[data_id];
      topicMap.setZoom(17);
      topicMap.panTo(map_marker.position);
    });

   setupFilterHighlightControls(document.getElementById("controls"), tl, [0,1,2], theme); 

} //end of onload function.

function checkStatus(timeline) {
        console.log(evt.getProperty());
}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
     }
 };
function centerTimeline(index) { 
  tl.getBand(0).setCenterVisibleDate(Timeline.DateTime.parseGregorianDateTime(event_dict[index]))
};

</script> <!--End script for Timeline-->


<h1>{{wiki_title|safe}}</h1>


{% for key in youtube_keys %}

<div class="video_wrapper" id='thumbnails'>
        <!--Creates images that can be clicked to start corresponding video-->
        <img id='thumbnail_{{key.youtube_video_key}}' src='http://img.youtube.com/vi/{{key.youtube_video_key}}/hqdefault.jpg'/ >
</div >

<div id='vph'></div>



<script>
    // embeds a video upon clicking the image related to the video
var embedVid_{{key.youtube_video_key}} = '<iframe width="560" height="315" src="https://www.youtube.com/embed/{{key.youtube_video_key}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>'

$('#thumbnail_{{key.youtube_video_key}}').on("click", function(evt) {
        evt.preventDefault();
        $("#vph").html(embedVid_{{key.youtube_video_key}});
});


</script>
{% endfor %}

 
 

 

<div class="controls" id="controls"></div>
<div id='mytimeline' style="height: 300px; border: 1px solid #aaa"></div>
<input type='button' id='resetmap' value="RESET MAP">
<input type='button' id='resettimeline' value ='RESET TIMELINE'>
<input type='button' id='checkStatus' value ='CHECK STATUS'><br>


<script>


$('#resetmap').on('click', function(event) {
        loadtopicMap();
});
$('#resettimeline').on('click', function(event) {
        tl.getBand(0).setCenterVisibleDate(Timeline.DateTime.parseGregorianDateTime('{{time_data.main_date}}'))
});        
$('#checkStatus').on('click', function(event) {
        checkStatus()
});        
          

</script>

<div id="topic_map{{topic_id}}" class="topic_map"></div>

<container>
    <h1 id='wiki_title'>{{wiki_title|safe}}</h1>
    <div id='wiki'>{{wiki_data|safe}}</div>
</container>

<div id="addeventform">
  <form name='addevent' action="/new_event/{{topic_id}}">
    <label for="event_title">*EVENT TITLE: </label>
    <input type="text" name='event_title'id="event_title" value="Event Title" required><br>
    <label for="event_start_date">EVENT DATE: </label><br>
    <label for="event_day">DAY: </label>
    <select name="event_day" id="event_day">
      {% for n in range(1,32) %}
       <option value='{{'%02d'%n}}'>{{'%02d'%n}}</option>
      {% endfor %}
    </select>  
    <label for="event_month">MONTH: </label>
    <select name="event_month" id="event_month">
      {% for n in range(1,13) %}
       <option value='{{'%02d'%n}}'>{{'%02d'%n}}</option>
      {% endfor %}
    </select>
    <label for="event_year">*YEAR: </label>
    <input type="text" id="event_year" value="ex: 1972" name="event_year"required><br>
    <label for="event_lat">*Latitude: </label>
    <input type="text" id="event_lat" value="37.7886334" name="event_lat" required>
    <label for="event_lng">*Longtitude: </label>
    <input type="text" id="event_lng" value="-122.4114752" name="event_lng" required><br>
    <label for="event_image">IMAGE URL: </label>
    <input type="text" id="event_img" value="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Martin_Luther_King_Jr_NYWTS.jpg/220px-Martin_Luther_King_Jr_NYWTS.jpg" name="event_img"><br>

    <label for="event_desc">DESCRIPTION</label>
    <input type="text" style"width: 200px" id="event_desc" value="Describe the event.  Max 200 characters" required><br>
    * Denotes required fields.<br>
    <input type="submit" value='ADD TO TIMELINE'>

    
  </form>  

</div>    

    
</body>
{% endblock %}